.btn {
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.75);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    height: 30px;
    text-align: center;
    top: 225px;
    width: 30px;
}

.btn:hover {
    background-color: rgb(255, 255, 255, 0.85);
}

.prev {
    left: 10px;
}

.prev::before {
    content: '\2BC7';
}

.next {
    right: 10px;
}

.next::before {
    content: '\2BC8';
}
